<div class="kcard kround kflex">
  <p>firebase-control works!</p>
</div>

<div class="kcard kround klist">
  <button  (click)="selectCollection(test.value)">{{collectionDir}}</button>
  <div class=" secColor kbado ktable">
    <input #test>
    <button>search</button>
  </div>
  <div>-</div>
  <div class="kcard kround kindent">
    <div *ngFor="let item of curCollection | async; let i = index">{{i}}- {{item.name}}></div>
  </div>
</div>

<div class="kcard kround kvtable priColor kratioh">
  <div class="secColor klist klist">
    <div class=" kcenterDeatil ">{{collectionDirInput.value}}</div>
    <div class=" ktable">
      <input #collectionDirInput value="users">
      <button type="button" class="kclick kround kbado " (click)="selectCollection(collectionDirInput.value)">Search</button>
    </div>
  </div>
  <div class="klist ">
    <div class="kblock ">
      <div class="kbar kindent" (click)="selectDocuemnt(item)"
        *ngFor="let item of curCollection | async; let i = index">
        {{i}}- {{item.name}}
      </div>
    </div>
    <div class="kcard kround kvtable kbado">
      <div class="secColor kindent" *ngIf="docSelector.name!!">
        <div>{{docSelector.title}}:{{docSelector.timeStamp}}</div>
      </div>
      <div class="priColor kindent kvflex">
        <div class="klist" *ngFor="let item of docSelector | keyvalue">
          <div>{{item.key}}</div>
          <div> :<input value="{{item.value}}"></div>
        </div>
      </div>
    </div>
  </div>
</div>